<div class="container">
  <form [formGroup]="addForm" (submit)="onNext()">
    <div class="address-wrapper" formArrayName="addresses">
      <span class="address"  [ngClass] = "{'width-shrink': i+1==addresses().controls.length}"
       *ngFor="let adrs of addresses().controls; let i=index" [formGroupName]="i">
        <mat-form-field>
          <mat-label>
            Address {{ i+1 }}
          </mat-label>
          <input type="text" matInput formControlName="address">
          <mat-error *ngIf="adrs.invalid">{{getErrorMessage('addresses', i)}}</mat-error>
        </mat-form-field>
        <div *ngIf="i>2" class="delete-address-btn">
          <button mat-icon-button type="button" color="warn" (click)="removeAddress(i)"><mat-icon>remove</mat-icon></button>
        </div>
      </span>
      <div class="add-address-btn">
        <button mat-icon-button type="button" color="primary" (click)="addAddress('')"><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <mat-form-field>
      <mat-label>
        Pincode
      </mat-label>
      <input type="tel" matInput formControlName="pincode">
      <mat-error *ngIf="addForm.get('pincode').invalid">{{getErrorMessage('pincode')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Personal Number
      </mat-label>
      <input type="tel" matInput formControlName="pmobile">
      <mat-error *ngIf="addForm.get('pmobile').invalid">{{getErrorMessage('pmobile')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Office/Home Number
      </mat-label>
      <input type="tel" matInput formControlName="hmobile">
      <mat-error *ngIf="addForm.get('hmobile').invalid">{{getErrorMessage('hmobile')}}</mat-error>
    </mat-form-field>

    <div class="btn-wrapper">
      <button [disabled]="addForm.invalid" mat-flat-button color="primary" type="submit">Next</button>
    </div>

  </form>
</div>
