form {
  mat-form-field {
    font-weight: bold;
    padding: 0 1em;
  }
  .btn-wrapper {
    margin-left: 1rem;
    margin-top: 2rem;
    button {
      font-weight: bold;
    }
  }
}

div.add-address-btn, div.delete-address-btn {
  display: inline-block;
}

.width-shrink {
  display: inline-block;
  width: fit-content;
}
