<div class="container">
  <div class="table" *ngIf="records.length != 0; else no_content">

    <!--SEARCH BOX-->

    <div class="search-box" *ngIf="!editMode">
      <mat-form-field appearance="fill">
        <mat-label><mat-icon>search</mat-icon></mat-label>
        <input (keyup)="search($event.target.value)" matInput type="text">
      </mat-form-field>

      <!--MATCH COLUMN-->

      <mat-form-field appearance="fill">
        <mat-label>Match</mat-label>
        <mat-select  [formControl]="matchSelect">
          <mat-option default value="ALL">ALL</mat-option>
          <mat-option value="REG NO:">REG NO:</mat-option>
          <mat-option value="NAME">NAME</mat-option>
          <mat-option value="GENDER">GENDER</mat-option>
          <mat-option value="D.O.B">D.O.B</mat-option>
          <mat-option value="ADDRESS">ADDRESS</mat-option>
          <mat-option value="PINCODE">PINCODE</mat-option>
          <mat-option value="PERSONAL NUMBER">PERSONAL NUMBER</mat-option>
          <mat-option value="HOME/OFFICE NUMBER">HOME/OFFICE NUMBER</mat-option>
          <mat-option value="DEPARTMENT">DEPARTMENT</mat-option>
          <mat-option value="DOCTOR">DOCTOR</mat-option>
        </mat-select>
      </mat-form-field>

            <!--FILTER CHECKBOX-->

      <mat-checkbox [(ngModel)]="isFilterChecked" [disabled]="!searchValue" color="primary" (change)="onFilterData($event.checked)">
        Filter Data
      </mat-checkbox>
    </div>

    <table *ngIf="dataSource.data" mat-table [dataSource]="dataSource" matSort>

      <form [formGroup]="editForm">
        <ng-container matColumnDef="regno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg No: </th>
          <td mat-cell *matCellDef="let element">
            <span [ngClass]="{'search-color': element.regno.toString().includes(filterValues['reg no:']) && filterValues['reg no:']!=''}">
              {{element.regno}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element" >
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error *ngIf="editForm.get('name').invalid">{{getErrorMessage('name')}}</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.name.toLocaleLowerCase().includes(filterValues['name']) && filterValues['name']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)"> {{element.name}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.get('gender').invalid">{{getErrorMessage('gender')}}</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.gender.toLocaleLowerCase().includes(filterValues['gender']) && filterValues['gender']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)">{{element.gender}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input type="date" matInput formControlName="dob">
                <mat-error *ngIf="editForm.get('dob').invalid">{{getErrorMessage('dob')}}</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.dob.toLocaleLowerCase().includes(filterValues['d.o.b']) && filterValues['d.o.b']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)"> {{element.dob}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <div class="address-wrapper" formArrayName="addresses">
                <span class="address" *ngFor="let adrs of addresses().controls; let i=index" [formGroupName]="i">
                  <mat-form-field>
                    <mat-label>
                      Address {{ i+1 }}
                    </mat-label>
                    <input type="text" matInput formControlName="address">
                    <mat-error *ngIf="adrs.invalid">{{getErrorMessage('addresses', i)}}</mat-error>
                  </mat-form-field>
                  <div *ngIf="i>2" class="delete-address-btn">
                    <button mat-icon-button type="button" color="warn" (click)="removeAddress(i)"><mat-icon>remove</mat-icon></button>
                  </div>
                </span>
                <div class="add-address-btn">
                  <button mat-icon-button type="button" color="primary" (click)="addAddress('')"><mat-icon>add</mat-icon></button>
                </div>
              </div>
            </span>

            <span [ngClass]="{'search-color': element.joinedAdrs.toLocaleLowerCase().includes(filterValues['address']) && filterValues['address']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)"> {{element.joinedAdrs}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="pincode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pincode </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Pincode</mat-label>
                <input placeholder="6 digit number" type="tel" matInput formControlName="pincode">
                <mat-error *ngIf="editForm.get('pincode').invalid">{{getErrorMessage('pincode')}}</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.pincode.toString().includes(filterValues['pincode']) && filterValues['pincode']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)"> {{element.pincode}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="pmobile">
          <th mat-header-cell *matHeaderCellDef> Personal Number </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Personal Number</mat-label>
                <input placeholder="10 digit number" type="tel" matInput formControlName="pmobile">
                <mat-error *ngIf="editForm.get('pmobile').invalid">{{getErrorMessage('pmobile')}}</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.pmobile.toString().includes(filterValues['personal number']) && filterValues['personal number']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)"> {{element.pmobile}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="hmobile">
          <th mat-header-cell *matHeaderCellDef> Office/Home Number </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Office/Home Number</mat-label>
                <input type="tel" matInput formControlName="hmobile">
                <mat-error *ngIf="editForm.get('hmobile').invalid">{{getErrorMessage('hmobile')}}</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.hmobile.toString().includes(filterValues['home/office number']) && filterValues['home/office number']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)"> {{element.hmobile}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="dept">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Department</mat-label>
                <mat-select formControlName="dept">
                  <mat-option *ngFor="let dept of depts" [value]="dept">{{ dept }}</mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.get('dept').hasError('required')">Select a department</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.dept.toLocaleLowerCase().includes(filterValues['department']) && filterValues['department']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)">{{element.dept}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="forEditRows.indexOf(element) != -1">
              <mat-form-field>
                <mat-label>Doctor</mat-label>
                <mat-select formControlName="doctor">
                  <mat-option *ngFor="let doc of doctors" [value]="doc" value="">{{ doc }}</mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.get('doctor').hasError('required')">Select a doctor</mat-error>
              </mat-form-field>
            </span>

            <span [ngClass]="{'search-color': element.doctor.toLocaleLowerCase().includes(filterValues['doctor']) && filterValues['doctor']!=''}"
            *ngIf="!(forEditRows.indexOf(element) != -1)">{{element.doctor}}</span>
          </td>
        </ng-container>

        <!--BUTTONS-->

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit/Save </th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="!(forEditRows.indexOf(element) != -1)" mat-icon-button color="primary" (click)="onEdit(element)" type="button">
              <mat-icon>edit</mat-icon>
            </button>
            <button [disabled]="editForm.invalid" *ngIf="forEditRows.indexOf(element) != -1" mat-icon-button color="primary" (click)="onSaveForm(element)" type="submit">
              <mat-icon>save</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete/Discard </th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="!(forEditRows.indexOf(element) != -1)" mat-icon-button color="warn" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="forEditRows.indexOf(element) != -1" mat-icon-button color="warn" (click)="onDiscard()" type="button">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngStyle]="highlightRow(row)"
        ></tr>
      </form>
    </table>

  </div>
  <ng-template #no_content>
    <div class="no-content">
      <p>Oops! No Records Found. Goto <a routerLink="/add">Add Records</a> to add new records.</p>
    </div>
  </ng-template>
  <!--MOBILE VIEW-->

  <!-- <table class="mobile-table" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="label" sticky="true">
      <td mat-cell *matCellDef="let row">{{ row.label }}</td>
    </ng-container>

    <ng-container [matColumnDef]="'column' + i" *ngFor="let column of records; let i = index">
      <td mat-cell *matCellDef="let row"> {{ row['column' + i] }} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  </table> -->

</div>
