$forest-green: #00221c;
$baby-blue: #e7f6fc;
$teal-blue: #a5cfe3;

.container {
  display: block;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  width: 90vw;
  height: 80vh;
  margin: 2.5rem auto 0 auto;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);

  table {
    width: 100%;
    mat-form-field {
      padding: 1rem 0.3rem 0 0.3rem !important;
    }
  }

  .mobile-table {
    td.mat-cell {
      border-right: 0.5px solid rgba(0, 0, 0, 0.226);
      &:not(:first-child) {
      }
    }
    td.mat-cell:nth-child(1) {
      font-weight: bold;
      color: $forest-green;
    }
  }
}

.no-content {
  margin: 2rem 10px 0 10px;
  p{
    text-align: center;
    padding: 0.5rem;
    color: $forest-green;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    background-color: $teal-blue;
    font-size: clamp(0.9rem, calc(1vw + 0.8rem), 1rem);
    a{
      text-decoration: underline;
      color: white;
      font-weight: bold;
    }
  }
}

div.add-address-btn, div.delete-address-btn {
  display: inline-block;
}


// table.md-table td.md-cell {border-left: 1px rgba(0, 0, 0, 0.12) solid; padding: 0 24px !important;}

