$baby-blue: #e7f6fc;
$teal-blue: #a5cfe3;
$teal-green: #028476;
$forest-green: #00221c;

.container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 80vh;
  margin: 2.5rem auto 0 auto;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  .side-bar {
    color: white;
    background-color: $teal-green;
    width: 30%;
    padding-top: 5rem;
    -webkit-box-shadow: inset -59px 0px 59px -91px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset -59px 0px 59px -91px rgba(0, 0, 0, 1);
    box-shadow: inset -59px 0px 59px -91px rgba(0, 0, 0, 1);
    h4 {
      font-size: 1.5rem;
      font-weight: 900;
      padding: 0 0 1rem 0.6rem;
      position: relative;
      margin: 0;
      span {
        display: block;
        margin-bottom: 0.3rem;
      }
      :nth-child(2) {
        margin-left: 2em;
      }
      &::after {
        content: "";
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    ul {
      padding-top: 0.7rem;
      list-style: none;
      width: fit-content;
      li {
        padding: 0.3rem 1rem;
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.7);
          font-weight: lighter;
          font-size: 1.1rem;
          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }

  .content {
    padding: 5rem 1rem;
    width: 70%;
    background-color: $baby-blue;
  }
}

.active {
  color: rgba(255, 255, 255) !important;
  font-weight: bold !important;
}

@media (max-width: 864px) {
  .container {
    flex-direction: column;
    width: 95%;
    height: max-content;
    .side-bar, .content {
      width: 100%;
      padding: 0;
    }
    .side-bar {
      // height: 35%;
      padding: 1rem 0;
    }
    .content {
      // height: 65%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px)  {
  .side-bar {
    h4{
      :nth-child(2) {
        margin-left: 1rem !important;
      }
    }
  }
}
