<div class="container">
  <form [formGroup]="addForm" (submit)="onNext()">
    <mat-form-field>
      <mat-label>
        First Name
      </mat-label>
      <input type="text" matInput formControlName="fname">
      <mat-error *ngIf="addForm.get('fname').invalid">{{getErrorMessage('fname')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Middle Name
      </mat-label>
      <input type="text" matInput formControlName="mname">
      <mat-error *ngIf="addForm.get('mname').invalid">{{getErrorMessage('mname')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Last Name
      </mat-label>
      <input type="text" matInput formControlName="lname">
      <mat-error *ngIf="addForm.get('lname').invalid">{{getErrorMessage('lname')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Gender
      </mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
      <mat-error *ngIf="addForm.get('gender').invalid">{{getErrorMessage('gender')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Date of Birth
      </mat-label>
      <input type="date" matInput formControlName="dob" [max]="maxDate">
      <mat-error *ngIf="addForm.get('dob').invalid">{{getErrorMessage('dob')}}</mat-error>
    </mat-form-field>

    <div class="btn-wrapper">
      <button [disabled]="addForm.invalid" mat-flat-button color="primary" type="submit">Next</button>
    </div>

  </form>
  <div class="login-mode">
    <p>Already Have An Account ?</p>
    <mat-form-field>
      <mat-label>Reg No:</mat-label>
      <input matInput type="tel" [formControl]="loginInput">
    </mat-form-field>
    <button color="primary" mat-flat-button [disabled]="loginInput.value == ''" type="button" (click)="onLogin()">Login</button>
  </div>
</div>
