form {
  mat-form-field {
    padding: 0 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .btn-wrapper {
    margin-left: 1rem;
    margin-top: 2rem;
    button {
      font-weight: bold;
    }
  }
}

.login-mode {
  p{
    font-weight: bold;
    color: #00221c;
  }
  mat-form-field {
    margin-right: 1rem;
  }
  padding: 1rem;
  margin-top: 1rem;
}

@media(max-width: 864px) {
  mat-form-field {
    width: 80%;
  }
}
